.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    position: absolute !important;
}

.is-fa-icon {
    font: normal normal normal 1em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 2;
    text-indent: 0;
}