.breadcrumb-container {
    padding: 0.5rem 1.5rem;
    background-color: $hipure-blue;

    li {
        & + li:before {
            color: white;
            opacity: 0.5;
        }

        &.is-active a {
            opacity: 1;
        }

        a {
            color: white !important;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }
}