.site-header {
    position: relative;
    z-index: 999;
    height: 130px;
    padding: 25px 1.5rem;
    background-color: white;

    h1 {
        a {
            display: block;
            width: 200px;
            height: 105px;
            text-indent: -9999px;
            background: url('../img/hipure-logo.png') 0 0 no-repeat;
            background-size: contain;
        }
    }
}


@media (#{$bp-smaller-than-desktop}) {
    .site-header {
        height: 75px;
        padding: 10px 0;

        h1 {
            a {
                margin-left: 20px;
                width: 150px;
                height: 60px;
            }
        }
    }
}