.notification {
    .button {
        text-decoration: none !important;
        @extend .is-pulled-right, .is-small, .is-white, .is-radiusless;
    }

    a {
        color: white;
        text-decoration: underline;
    }
}