table.cart {
    tr:last-child:hover {
        background: transparent;
    }

    td {
        vertical-align: middle;
    }

    .product-remove { 
        a {
            @extend .delete;
        }
    }

    .product-thumbnail {
        img {
            margin: 0 auto;
            max-width: 3.706325903em;
            height: auto;
        }
    }

    .product-quantity {
        input {
            width: 50px;
        }
    }

    .actions {
        text-align: right;

        label {
            display: none;
        }

        .coupon {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
            display: inline-block;
            float: left;

            input[type="text"] {
                float: left;
                width: 150px;
                @extend .input;
            }
        }
    }
}

.cart-collaterals {
    @extend .is-clearfix;
    margin-top: 30px;

    .cart_totals {
        width: 50%;
        float: right;
        margin-right: 0;

        h2 {
            display: none;
        }

        table tr:hover {
            background: transparent;
        }
    }

    .wc-proceed-to-checkout {
        a {
            width: 100%;
            @extend .button, .is-primary, .is-large;
        }
    }
}