.single-product {
    #sidebar,
    .related {
        display: none;
    }

    div.product {
        position: relative;
        overflow: hidden;
    }

    .woocommerce-product-gallery {
        float: left;
        width: 40%;
        margin-right: 2%;
        position: relative;
        margin-bottom: 3em;

        figure {
            margin: 0;
        }

        img {
            display: block;
        }

        .woocommerce-product-gallery__image:nth-child(n+2) {
            width: 25%;
            display: inline-block;
        }

        .flex-control-thumbs {
            margin: 1rem 0 0 0;
            text-align: left;

            li {
                list-style: none;
                float: left;
                cursor: pointer;
                margin: 0;
                width: 100px;

                & + li {
                    margin-left: 1rem;
                }

                &:hover img,
                img.flex-active {
                    opacity: 1;
                }

                img {
                    opacity: .5;
                }
            }
        }

        .woocommerce-product-gallery__trigger {
            position: absolute;
            top: .875em;
            right: .875em;
            z-index: 99;
            color: transparent;
            text-indent: -9999px;
            @extend .button, .is-primary;

            img {
                display: none !important;
            }

            &:hover {
                color: transparent;
            }

            &:before {
                @extend .is-fa-icon;
                display: block;
                color: white;
                content: "\f00e";
            }
        }
    }

    .summary {
        float: right;
        width: 58%;

        .woocommerce-product-details__short-description {
            margin-bottom: 1em;
        }

        .price del {
            opacity: .5;
            font-weight: 400;
        }

        .price del + ins {
            text-decoration: none;
            margin-left: .327em;
        }

        form.cart {
            margin-bottom: 1.618em;
            padding: 1em 0;

            .quantity {
                float: left;
                margin-right: .875em;
                width: 4em;
            }
        }

        .stock {
            display: inline-block;
            margin-bottom: 0 !important;

            &.out-of-stock {
                @extend .is-uppercase, .has-text-weight-semibold, .has-text-danger;
            }
        }

        .product_meta {
            > span {
                font-size: 0.8em;
                display: block;
            }
        }

        .variations_form {
            table.variations {
                tr:hover {
                    background-color: white;
                }

                td {
                    display: list-item;
                    border: none;
                    padding: 0;
                    list-style: none;
                }

                .value {
                    margin-bottom: 1em;
                }

                a.reset_variations {
                    display: inline-block;
                    margin: 0.75em 0 0 1em;
                    @extend .is-size-7, .is-uppercase, .has-text-grey;

                    &:before {
                        @extend .is-fa-icon;
                        content: "\f05e";
                        margin-right: 5px;
                    }
                }
            }
        }


        button[type="submit"] {
            &.disabled {
                cursor: not-allowed;
                opacity: 0.5;
            }
            @extend .is-primary;
        }

        .woocommerce-variation-price {
            @extend .is-size-5, .has-text-weight-semibold, .has-text-success;
        }

        .woocommerce-variation-add-to-cart {
            margin-top: 1em;
        }
    }

    .woocommerce-tabs {
        padding-top: 2em;
        clear: both;

        .tabs ul {
            margin: 0;

            li {
                + li {
                    margin-top: 0;
                }

                &.active {
                    @extend .is-active;
                }
            }
        }

        .woocommerce-Tabs-panel {
            h2 {
                display: none;
            }
        }
    }
}

.pswp__caption .pswp__caption__center {
    text-align: center;
}

@media (#{$bp-smaller-than-desktop}) {
    .single-product {
        .woocommerce-product-gallery,
        .summary {
            float: none;
            width: 100%;
        }
    }
}